div#subjects {
    font-size: 20px;
}

select {
    padding: 10px;
    margin-left: 10px;
    border: 2px solid #dddddd;
    border-radius: 5px;
    background-color: #fafafa;
    transition: background-color 200ms ease, border-color 200ms ease;
}

select:hover {
    background-color: #eaeaea;
    border-color: #333333;
}

#subsel {
    font-size: 20px;
    width: 60px;
}

span.subject {
    position: relative;
    display: inline-block;
    padding: 10px;
    padding-right: 15px;
    margin: 5px 10px;
    border: 2px solid #333333;
    border-radius: 5px;
    user-select: none;
}

span.remove {
    position: absolute;
    top: -10px;
    right: -10px;
    color: red;
    background-color: #fafafa;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 11px;
    border: 2px solid #333333;
    cursor: pointer;
}

div.exam {
    padding: 20px;
    width: 500px;
    max-width: calc(95% - 40px);
    margin: 20px;
    margin-top: 50px;
    border-radius: 20px;

    h2.name {
        margin-top: 0px;
        font-size: 2rem;
    }

    h1.countdown {
        font-family: "Monaco", monospace;
        user-select: none;
        margin-bottom: 0px;
    }
}

div#countdowns-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

div#margin {
    width: 100%;
    height: 50px;
}

.maths {
    background-color: #a5ebff;
}

.further-maths {
    background-color: #b1dcff;
}

.physics {
    background-color: #ffcccc;
}

.chemistry {
    background-color: #fff9cc;
}

.biology {
    background-color: #b2d8b2;
}

.computer-science {
    background-color: #ffe0cc;
}

.economics {
    background-color: #d9f2d9;
}

.geography {
    background-color: #cceacc;
}

.philosophy {
    background-color: #f2e0ff;
}

.french {
    background-color: #92ccff;
}

.spanish {
    background-color: #ffb4b4;
}

.german {
    background-color: #fff296;
}

.completed {
    filter: saturate(25%);
    color: grey;
}
