body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fafafa;
    padding: 20px;
    margin: 0;
    color: #333333;
    text-align: center;
}

h1#heading {
    font-size: 2.5em;
    border-bottom: 2px solid #ccc;
    padding-bottom: 0.3em;
    margin-bottom: 20px;
    display: inline-block;
}

a {
    color: #3366cc;
    font-style: italic;
}

li {
    padding-bottom: 20px;
}

table {
    width: 100%;
}

table:not(#pages-table) {
    max-width: 750px;
    margin: auto;
}

#pages-table th:nth-child(1) {
  width: 20%;
}
#pages-table th:nth-child(2) {
  width: 60%;
}
#pages-table th:nth-child(3) {
  width: 20%;
}

table, th, td {
    border: 1px solid #dddddd;
    border-collapse: collapse;
    padding: 8px 12px;
}

th {
    background-color: #66cfff;
}

tr:hover {
    background-color: #e1f0ff;
}

div#bottom {
    width: calc(100% - 20px);
    position: fixed;
    padding: 10px;
    bottom: 0px;
    left: 0px;
    background-color: #fafafa;
}

input#search-bar {
    width: calc(100% - 18px);
    font-size: 18px;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
}

div.wrapper {
    overflow: auto;
}
