h2 {
    font-size: 1.5em;
    margin-top: 2em;
    color: #444;
}

p {
    line-height: 1.6;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

code {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 2px 4px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    color: #d6336c;
}

.images img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding-bottom: 20px;
    max-width: 95%;
    padding-right: 20px;
}
