input#inputbox {
    width: calc(100% - 6px);
    font-family: monospace;
    font-size: 2em;
    overflow-y: hidden;
}

p#colours {
    font-family: monospace;
    overflow-wrap: anywhere;
    font-size: 2em;
    padding: 3px;
}

.green {
    color: #3cb043;
}

.orange {
    color: darkgoldenrod;
}

.grey {
    color: #808080;
}
