div#bottom {
    width: 100%;
    position: absolute;
    bottom: 5px;
}

textarea#inputbox {
    width: calc(100% - 6px);
    font-family: monospace;
    font-size: 1em;
}

p#colours {
    font-family: monospace;
    overflow-wrap: anywhere;
}

.green {
    color: #3cb043;
}

.orange {
    color: darkgoldenrod;
}