div#bottom {
    width: 100%;
    position: absolute;
    bottom: 5px;
}

input#inputbox {
    width: 50px;
}

span.output-container {
    display: inline-block;
    width: 80px;
}

span.output-number {
    font-size: 2em;
}