div#bottom {
    width: 100%;
    position: fixed;
    padding: 5px;
    bottom: 0px;
    background-color: white;
}

input#input {
    width: calc(100% - 6px);
    font-family: monospace;
    font-size: 32px;
    overflow-y: hidden;
}

ul#ulist {
    margin-top: 0px;

    li.no-padding {
        padding: 0px;
    }
}

p#total b {
    font-size: 24px;
}