select#team-select {
    position: fixed;
    top: 20px;
    right: 8px;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
}

h3.player-header {
    margin-top: 30px;
}

input.player-score {
    font-size: 20px;
}

input.new-player {
    margin-top: 10px;
    padding: 5px 10px;
}