div#bottom {
    width: 100%;
    position: fixed;
    padding: 5px;
    bottom: 0px;
    background-color: white;
}
th {
    text-align: left;
}

td, th {
    padding-right: 10px;
    padding-top: 5px;
}

.input-box {
    width: 100px;
}

.del-btn {
    width: 30px;
}