table#table {
    th {
        font-size: 1.2em;
    }

    td, th {
        padding: 10px;
    }
}

input[type=text], input[type=number] {
    font-size: 18px;
    padding: 8px;
}

input[type=button]:not(.del-btn) {
    padding: 10px 20px;
    font-size: 1em;
    margin-top: 10px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 200ms;
}

input[type=button]:active {
    transform: scale(0.95);
}

input#addq {
    background-color: #00c080;
}

input#addq:hover {
    background-color: #00b075;
}

input#clear {
    background-color: #ff3c3c;
}

input#clear:hover {
    background-color: #ef3232;
}

input#download {
    background-color: #4f46e5;
}

input#download:hover {
    background-color: #4338ca;
}

.input-box {
    width: 100px;
}

.del-btn {
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: red;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 200ms;
}

.del-btn:hover {
    background-color: #eeeeee;
}
