div#bottom {
    width: 100%;
    position: fixed;
    padding: 5px;
    bottom: 0px;
    background-color: white;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
}
