:root {
    text-align: center;
}

div#bottom {
    width: 100%;
    position: fixed;
    padding: 5px 0px;
    bottom: 0px;
    left: 0px;
    background-color: #00b4d8;
}

div#stick {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #03045e;
    color: #caf0f8;
    z-index: 1000;
    padding-bottom: 10px;
    padding-left: 8px;
}

div#rest {
    background-color: #00b4d8;
    width: 100%;
    position: absolute;
    padding-top: 225px;
    top: 0px;
    left: 0px;
    color: #15191e;
}

select {
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #90e0ef;
}

label {
    font-weight: bold;
}

ul {
    list-style: none;
    margin: 10px;
    margin-bottom: 50px;
    padding: 0px;
    display: flex;

    li {
        padding: 10px;
        margin: 10px;
        border: 1px solid #15191e;
        flex: 1;

        strong {
            color: #7316f9;
        }
    }
}

.red {
    color: red;
}

.green {
    color: green;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}