:root {
    scroll-behavior: smooth;
}

h2 {
    padding-top: 20px;
    margin-bottom: 0px;
    font-size: 1.6em;
    color: #444;
}

h1, h2 {
    scroll-margin-top: 20px;
}

div.wrapper {
    white-space: nowrap;
    margin: 10px 0;
}

p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

a {
    font-style: normal;
    text-decoration: none;
    border: 2px solid;
    padding: 10px;
    border-radius: 15px;
    margin: 10px 5px;
    display: inline-block;
    transition: filter 500ms;
}

a:hover {
    text-decoration: underline;
    filter: brightness(0.6);
}
